h1 {
    text-align: center;
    color:black;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:ghostwhite;

}
img {
    border-radius: 80%;
    text-align: center;


}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("pngegg.png");

    
  }
  .container1 {
    background-color:azure;
    color: black;
    height:100px;
    width: 1500px;
  }
  
a:hover {
    color:blue;
}
a {
    color:red;
    padding: 20px;
}
table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height:100%;
    width:100%;
}
button {
    color:red;
}
button:hover {
    color:blue;
}
.fa-facebook-f {
    height:50px;
    width: 50px;

}
.fa-instagram {
    height:50px;
    width:50px;

}
.fa-whatsapp {
    height:50px;
    width: 50px;
}
.fa-github {
    height:50px;
    width:50px;
}
.fa-linkedin {
    height: 50px;
    width: 50px;
}
.container {
    place-items: center;
    border : 1px solid black;

}
h2 {
    color :black;
}
